<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>视频助手</title>
    <link rel="icon" href="favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.1.5/dist/vue.global.prod.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus@1.0.2-beta.65/lib/theme-chalk/index.min.css">
    <script src="https://cdn.jsdelivr.net/npm/element-plus@1.0.2-beta.65/lib/index.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
</head>
<body>
<div id="videoHelper" style="margin: 1% 1%">
    <el-container>
        <el-header>
            <el-form ref="form" @submit.native.prevent>
                <el-form-item style="text-align: center">
                    <el-input v-model="keywords" @keyup.enter.native="searchVideo" clearable style="width: 30%"></el-input>
                    <el-button type="primary" plain icon="el-icon-search" @click="searchVideo">搜索</el-button>
                </el-form-item>
            </el-form>
        </el-header>
        <el-main>
            <el-row gutter="30" v-if="videoSearchVOs != null && videoSearchVOs.length > 0">
                <el-col :xs="12" :sm="8" :md="6" :lg="4" :xl="3" v-for="videoSearchVOTemp in videoSearchVOs">
                    <div class="video-card">
                        <el-card style="text-align: center">
                            <el-affix target=".video-card">
                                <el-tag effect="plain" size="mini">{{videoSearchVOTemp.source}}</el-tag>
                            </el-affix>
                            <img v-bind:src=videoSearchVOTemp.cover v-bind:alt=videoSearchVOTemp.name @click="detailVideo(videoSearchVOTemp.address)"
                                 referrerpolicy="no-referrer" style="width: 120px; height: 160px">
                            <h3 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                                <a target="_blank" v-bind:href=videoSearchVOTemp.address style="text-decoration: none">{{videoSearchVOTemp.name}}</a>
                            </h3>
                            <el-tooltip effect="light" :content="videoSearchVOTemp.actors.join(' ')" placement="bottom">
                                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">{{videoSearchVOTemp.actors.join(" ")}}</p>
                            </el-tooltip>
                        </el-card>
                    </div>
                </el-col>
            </el-row>
            <el-dialog :title=videoDetailVO.name v-model="dialogVisible" width="80%" center="true" modal="false" destroy-on-close="true">
                <div style="text-align: center">
                    <video style="width: 100%" id="video" controls="controls" poster="cover.png" autoplay></video>
                </div>
                <el-row style="text-align: center; margin: 1% 0">
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-select size="medium" v-model="resolveInterface" style="width: 98px">
                            <el-option v-for="item in resolveInterfaces" :key="item.value" :label="item.key" :value="item.value"></el-option>
                        </el-select>
                    </el-col>
                    <el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
                        <el-button size="medium" @click="resolveVideo">手动解析</el-button>
                    </el-col>
                </el-row>
                <el-row gutter="20" v-if="videoDetailVO.episodes !=null && Object.keys(videoDetailVO.episodes).length > 0">
                    <el-col :xs="6" :sm="6" :md="4" :lg="2" :xl="1" v-for="(value, key) in videoDetailVO.episodes">
                        <div style="text-align: center">
                            <el-radio-group size="medium" v-model="playAddress" @change="resolveVideo">
                                <el-radio-button style="margin: 10% 0" :label=value>{{key < 10 ? "0" + key : key}}</el-radio-button>
                            </el-radio-group>
                        </div>
                    </el-col>
                </el-row>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{videoDetailVO.description}}</p>
            </el-dialog>
        </el-main>
        <el-footer></el-footer>
    </el-container>
</div>
<script>
    const VideoHelperApp = {
        data() {
            return {
                globalVariable: {
                    backendAddress: "https://pavilion.mqk233.top:8081"
                },
                dialogVisible: false,
                keywords: "",
                videoSearchVO: {
                    source: "",
                    address: "",
                    name: "",
                    cover: "",
                    actors: []
                },
                videoSearchVOs: [],
                videoDetailVO: {
                    name: "",
                    description: "",
                    episodes: {}
                },
                playAddress: "",
                resolveInterfaces: [
                    {key: "接口1", value: "https://www.8090.la/8090/?url="},
                    {key: "接口2", value: "https://api.jiexi.la/?url="},
                    {key: "接口3", value: "https://www.ckplayer.vip/jiexi/?url="},
                    {key: "接口4", value: "https://www.playm3u8.cn/jiexi.php?url="},
                    {key: "接口5", value: "https://www.pangujiexi.cc/jiexi.php?url="},
                    {key: "接口6", value: "https://jx.m3u8.tv/jiexi/?url="},
                    {key: "接口7", value: "https://www.1717yun.com/api/?url="},
                    {key: "接口8", value: "https://vip.parwix.com:4433/player/?url="},
                    {key: "接口9", value: "https://qimihe.com/?url="},
                    {key: "接口10", value: "https://okjx.cc/?url="},
                    {key: "接口11", value: "https://www.nxflv.com/?url="},
                    {key: "接口12", value: "https://jx.keleapi.com/?url="},
                    {key: "接口13", value: "https://jx.jiubojx.com/vip/?url="},
                    {key: "接口14", value: "https://www.administratorw.com/admin.php?url="},
                    {key: "接口15", value: "https://www.administratorw.com/video.php?url="},
                    {key: "接口16", value: "https://www.administratorw.com/index.php?url="}
                ],
                resolveInterface: "https://www.8090.la/8090/?url="
            };
        },
        methods: {
            searchVideo() {
                axios.get(this.globalVariable.backendAddress + "/video/search", {
                    params: {
                        keywords: this.keywords
                    }
                }).then((response) => {
                    if (response.data.code === 1000) {
                        this.videoSearchVOs = response.data.data;
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            detailVideo(address) {
                axios.get(this.globalVariable.backendAddress + "/video/detail", {
                    params: {
                        address: address
                    }
                }).then((response) => {
                    if (response.data.code === 1000) {
                        this.videoDetailVO = response.data.data;
                        this.dialogVisible = true;
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            resolveVideo() {
                window.open(this.resolveInterface + this.playAddress)
            }
        }
    };
    Vue.createApp(VideoHelperApp).use(ElementPlus).mount("#videoHelper");
</script>
</body>
</html>